* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  align-items: center;
}
img {
  max-width: 670px;
  height: auto;
}

form {
  flex-direction: column;
  width: 1000px;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: transparent;
  background-color: grey;
}
input {
  border: 5px #e5e7eb;
  border-radius: 10px;
}
fieldset {
  flex-wrap: wrap;
}

button {
  background-color: #596d48;
  color: white;
  border-radius: 10px;
}

.right-side {
  width: 50%;
}

.left-side {
  width: 40%;
  height: auto;
}

.heading-text {
  font-size: 28px;
}
